/*---------------------------------------------------
GRIDS
----------------------------------------------------*/

/* FRONTPAGE
------------------------------------*/

.grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
    "column1 column2 "
}

.frontpage__column-1 {
    grid-area: column1;
}

.frontpage__column-3 {
    grid-area: column2;
}








/*---------------------------------------------------
MEDIA QUERIES
----------------------------------------------------*/
