/*---------------------------------------------------
GRIDS
----------------------------------------------------*/

:root {
    --header-gridgap: 5px;
    --header-total-gridgap: calc(var(--header-gridgap) * 9);
    --grid-height: calc(var(--body-desktop-height));
    --grid-width: calc(var(--body-desktop-width) - calc(var(--page-padding) * 2));
    --header-grid-height: calc(var(--body-desktop-height) - calc(var(--page-padding) * 2));
}


/*---------------------------------------------------
MEDIA QUERIES
----------------------------------------------------*/


@media screen and (min-width: 800px) {

    /* PAGE GRID LAYOUTS
    ---------------------------------------------------------------*/
    .grid {
        height: var(--grid-height);
        width: 100%;
        display: grid;
        grid-template-columns: 50% 10% 40%;
        /* denne skal muligvis fjernes/ændres senere */
        grid-template-rows: 1fr;
        grid-template-areas: 
        "column1 column2 column3"
    }
    
    .frontpage__column-1 {
        /* row start, column start, row end, column end */
        grid-area: column1 / column1 / column1 / column2;
    }
    
    .frontpage__column-2 {
        /* row start, column start, row end, column end */
        grid-area:  column2 / column2 / column1 / column3;
    }

        /* Z-INDEX
    ------------------------------------*/
    /* sørger for det rigtige overlap, mellem de 2 halve sider */
    .frontpage__column-1 {
        height: calc(var(--grid-height) - var(--page-padding));
        z-index: 1;
    }
    .frontpage__column-2 {
        height: calc(var(--grid-height) - var(--page-padding));
        z-index: 0;
    }


    /* HALF PAGE GRID HEADER
    ---------------------------------------------------------------------*/

    .header {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(9, calc(100%/9));
        grid-template-rows: repeat(10, calc(calc(var(--header-grid-height) - var(--header-total-gridgap)) / 10));
        grid-row-gap: var(--header-gridgap);
        padding: 5px 0;
    }

    /* NAVIGATION */

    .frontpage-navigation {
        grid-area: 8 / 2 / 10 / 9;
        display: grid;
        grid-template-areas: 
        "menu-left menu-right";
        z-index: 4;
        padding: 0 6rem;
    }

    .menu-left {
        grid-area: menu-left;
        text-align: right;
        justify-self: end;
    }

    .menu-right {
        grid-area: menu-right;
        text-align: left;
        justify-self: start;
    }


    .heading-part1 {
        grid-area: 2 / 3 / 3 / 4;
        align-self: end;
    }

    .heading-part2 {
        grid-area: 2 / 6 / 3 / 10;
        align-self: start;
    }


    .square-1 {
        grid-area: 3 / 2 / 8 / 5;
    }

    .square-2 {
        grid-area: 1 / 4 / 6 / 7;

    }

    .square-3 {
        grid-area: 4 / 6 / 9 / 9;
    }



}

