:root {
    --body-desktop-height: 95vh;
    --body-desktop-width: 100vw;
}

* {
    box-sizing: border-box;
}

/* html {
    height: 100%;
}  */

body {
    height: var(--body-desktop-height);
    width: var(--body-desktop-width);
    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}
